

/*
Timeline-progress styles
*/
.timeline-container{
    margin-top: 65px; 
    max-width: 600px; 
    position: relative;
}

.progress{
    background-color: rgba(224, 224, 224, 0.2); 
    height: 8px; 
    border-radius: 4px; 
    margin-bottom: 10px;
}

.progress .progress-bar.progress-bar-info{
    background-color: #ffffff;
}

.timeline-mark{
    width: 16px; 
    height: 16px; 
    border-radius: 8px; 
    border: 2px solid white; 
}

.timeline-extra-mark{
    margin-left: 8px;
}

.timeline-extra-holder{
    width: 32px; 
    height: 16px; 
    position: absolute; 
    margin-top: -4px; 
}

.timeline-date{
    width: 32px; 
    position: absolute; 
    margin-top: -26px; 
    color: white; 
    font-size: 12px; 
    text-align: center;
}

.timeline-date-start{
    left: 0px;
}

.timeline-date-end{
    right: 0px;
}

.timeline-start{
    position: absolute; 
    margin-top: -4px; 
    left: 8px;
}

.timeline-end{
    position: absolute; 
    margin-top: -4px; 
    right: 8px;
}






/*
Competition header styles and stuff
*/
.page-header.header-small .container{
    padding-top: 75px;
}

.header-logos{
    display: inline;
    margin-left: 0;
}

@media (max-width: 768px) {
    .header-logos{
        margin-left: 15px;
    }
}

.header-logo-block{
    width: 100px; 
    height: 30px;
    display: inline-block;
    margin-top: 10px;    
    background-image: url("../img/arktur_logo_w.svg");
    background-size: cover;
}

.header-flags{
    display: inline-block;
    background: none;
    margin-left: 10px;
    top: -7px;
}

.header-flags .caret{
    color: white;
}

.navbar.navbar-transparent{
    padding-top: 10px;
}

.logo{
    width: 100px; 
    margin-top: 2px;
}

.avatar{
    max-width: 44px;
    max-height: 44px;
    margin: -10px 4px 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}






/*
Header logo styles
*/

.contest-overview{
    width: 100%; 
    position: absolute; 
    top: 80px;
    margin: 0;
    padding: 0;
    border: 0;
}

.contest-logo{
    width:90%;
    margin-left: 5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.join-button{
    background: #00c84a!important; 
    cursor: pointer!important;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(0,200,74,.6);
    color: #ffffff!important;
}
.join-button:hover{
    background: #00E676!important; 
}





/*
Main block updates
*/
.main-container{
    padding: 0px;
}

.main-raised {
    margin: -60px 0px 0;
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 768px) {

    .main-raised{
        margin-left: 10px;
        margin-right: 10px;
    }
}




/*
cool colors:
Deep Purple
A200    7C4DFF
A400    651FFF

*/




/* 
Overall page style
Use Roboto everywhere because why not
*/
.title,
.card-title,
.info-title,
.footer-brand,
.footer-big h5,
.footer-big h4,
.media .media-heading {
    font-weight: 700;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.serif-font {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}


.navbar.navbar-primary .dropdown-menu li > a:hover, .navbar.navbar-primary .dropdown-menu li > a:focus {
    background-color: #B9B9B9;
    color: #000000;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(170, 170, 176, 0.4);
}

.tab-space{
    padding: 20px 30px 50px 30px;
}





/*
FIXING COLORS OF MODAL WINDOW
*/

.modal-body .form-control{
    background-image: linear-gradient(#00c84a,#00c84a),linear-gradient(#D2D2D2,#D2D2D2);
}

.modal-body .form-group.is-focused .form-control{
    background-image: linear-gradient(#00c84a, #00c84a), linear-gradient(#D2D2D2, #D2D2D2);
}

.modal-body .checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background: #00c84a;
}

.modal-body a{
    color: #555;
    font-weight: 500;
}

.modal-header .header-primary{
    background-image: linear-gradient(60deg,#00c84a,#00E676);
}

.modal-header .header{
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.3), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}






/*
Navigation centering update
*/
.nav-pills>li+li{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs {
    text-align:center;
}




/* 
Footer updates 

have to update the whole page because bootstrap footer isn't sticky
*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  min-height: 100%;
  margin-bottom: 130px;
}

.footer{
    margin-top: 15px;
    position: absolute;
    bottom: 0px;
    min-height: 100px;
    width: 100%;
}

.footer .footer-brand{
    margin-left: -5px;
}

.footer-link{
    color: #3C4858;
    padding: 5px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
}

.footer-copyright{
    padding-left: 15px;
    float: left; 
    text-align: left;
    margin-top: 10px; 
}

.footer-copyright .logo{
    margin-bottom: 3px; 
    margin-top: -5px; 
    margin-left: -3px;
}

footer .btn:hover, footer .btn:focus{
    color: #ffffff!important;
}
